html,
body {
  background-image: linear-gradient(
    125deg,
    #2c3e50,
    #27ae60,
    #2980b9,
    #e74c3c,
    #8e44ad
  );
  background-size: 400% 400%;
  animation: bganimation 15s infinite;
  height: 100%;
}

/* navbar */
nav {
  background-color: rgba(255, 40, 40, 0.815);
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-car-title {
  text-decoration: none;
  font-size: 3rem;
  font-style: oblique;
  color: black;
  font: bold;
}

.nav-left-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  font-size: 2.3rem;
}

.nav-left:link,
.nav-left:visited {
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-left:hover,
.nav-left:active {
  color: rgb(0, 183, 255);
}

/* section one code */
.sec-1 {
  padding: 2em 03em;
}

@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.whole-table {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  color: black;
  margin-bottom: 0.5em;
  font-size: 3rem;
}

.table {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  background-image: linear-gradient(to left, white, white);
  width: 100%;
}

.main-td {
  background-image: linear-gradient(gray, gray);
  width: 100%;
}

.td-element {
  border: 1.5px solid black;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.td-element h5 {
  margin: 0.5em 0em;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  padding: 0 0.5rem;
}

.td-element-sub {
  border: 1.5px solid black;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.td-element-sub h5 {
  margin: 0.5em 0em;
  font-size: 1.3rem;
  font-weight: bold;
}
