*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

html{
  font-size: 62.5%;
}

/* grid */
.grid{
  display: grid;
}

.grid-col-2{
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3{
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4{
  grid-template-columns: repeat(4, 1fr);
}